/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn {
  color: #15CC4D;
  border-color: #15CC4D;
  border-width: medium;
  font: bold;
  border-radius: 10px;
}

.card {
  border: 2px solid grey;
  margin: 6px;
  box-shadow: initial;
}

#add_project_button {
  margin-bottom: 6px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.edit-project-input {
    margin-left: 12px;
}

