<h4 style="margin-bottom:16px" *ngIf="this.type == 'edit'; else elseBlock" >Update project</h4>
<ng-template #elseBlock><h4 style="margin-bottom:16px">Add new project</h4></ng-template>

<div style="margin-bottom:16px"> 
  <label>Project name</label>
  <input class="edit-project-input" type="text" [(ngModel)]='name' value="{{project ? project.name : ''}}" />
</div>
<div style="margin-bottom:16px">
  <label>Description</label>
  <input class="edit-project-input" type="text" [(ngModel)]='description' value="{{project ? project.description : ''}}" />
</div>
<div>
  <button class="btn" style="margin-right:18px" (click)="saveProject()">Save project</button>
  <button class="btn" (click)="deleteProject(project.id)" *ngIf="this.type == 'edit'">Delete project</button>
</div>
