<a class="btn" id="add_project_button" routerLink="/projectedit">+ Add a new project</a>
 
<div class="row">
  <div *ngFor="let p of projects" class="card col-md-5">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-10">
          <h5 class="card-title">{{ p.name }}</h5>
          <a  href="{{this.getLink(p.id)}}" class="card-subtitle mb-2 text-muted" [ngClass]="{'inactiveLink' : this.isLinkEnabled(p.id)}">Project details</a>
        </div>
        <div class="col-sm-2">
          <button class="card-link btn" [disabled]="this.isDisabledButton(p.id)" (click)="startStopSessionClicked(p.id)">{{getStartStopButtonText(p.id)}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
